{%extends "registration/base.html"%}
{% load bootstrap4 %}


{% block content %}
<div class="container" >
        <div class="row">
            <div class="col-md-2"><br><br>
                <h4></h4>
                
                
            </div>
            <div class="col-md-4 top-margin">
                <h1 style="text-align: center" >Club-Manangement system.</h1>
                {% if form.errors %}
                    <p>Some information may be incorrect</p>
                {% endif %}
                <div class="signup-fields">
                    <div class="section">
                        <div class="mylogo">
                        </div>
                        <div class="form-section" id="register">
                            <form method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Sign up">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="section">
                        <p class="log forgot">Have an account? <a href="/accounts/login/">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock%}