<!-- To see all the registered clubs/ -->
{% extends 'clubs/base.html'%}
{% load bootstrap4 %}
{% load static %}

    {% block content %}
    
    <table class=" table table-bordered table-striped">
        <thead>
            <tr style="background-color:#9CC4DD;">
                <th>#</th>
                <th>Club</th>
                <th>Institution</th>
            
            </tr>
        </thead>
        <tbody>
            {% for detail in details %} 
            

            <tr>
                <td>{{detail.id}}  </td>
                
                <td>{{detail.club_name}}</td>
                

                <td>{{detail.institution}}</td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {% endblock %}
