{% extends 'clubs/base.html'%}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Officials   </title>
</head>
<body>
    {% block content %}
    <div class="row card-body card-fluid"  style="width:auto; padding-left:12em;">

            <div class="col-md-1"></div>
        
                <div class="col-md-10">
                    <p>The following are the leaders</p>
                    <table class=" table table-bordered table-striped">
                        <thead>
                            <tr style="background-color:#9CC4DD;">
                                <th></th>
                                <th>Name</th>
                                <th>Club</th>
                                <th>Position</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in details %} 
                            
        
                            <tr>
                                <td>{{detail.id}}  </td>
                                
                                <td>{{detail.official_name}}</td>
                                

                                <td>{{detail.club_name}}</td>
                                <td>{{detail.position}}</td>
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-md-1"></div>
                </div>
            </div>
        


    {% endblock %}
    
</body>
</html>